html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  /* This prevents the browser from intercepting touch events for scrolling */
  touch-action: none;
  /* Removes blue highlight on focus/click in some browsers */
  outline: none;
  display: block;
}